<h1>Listing Kinds</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
	<th>Description</th>
  </tr>
 
  <% @kinds.each do |kind| %>
    <tr>
      <td><%= kind.id %></td>
      <td><%= kind.name %></td>
	  <td><%= kind.description %></td>
    </tr>
  <% end %>
</table>

<h1>Listing Relations</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
	<th>Reverse Name</th>
	<th>Description</th>
  </tr>
  <% @relations.each do |relation| %>
    <tr>
      <td><%= relation.id %></td>
      <td><%= relation.name %></td>
	  <td><%= relation.reverse_name %></td>
	  <td><%= relation.description %></td>
	  <td>
	  <table>
	  <% if !relation.actualRelations.nil? %>
	  <% relation.actualRelations.each do |actualRelation| %>
	  <tr> 
      <td><%= actualRelation.relation.name %></td>
      <td><%= actualRelation.domain.name %></td>
	  <td><%= actualRelation.range.name %></td>
      </tr>
	<% end %>
	<% end %>
	</table>
	</td>
    </tr>
  <% end %>
</table>

<% if false %>
<h1>Listing Entities</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
	<th>Description</th>
	<th>Kind</th>
  </tr>
 
  <% @entities.each do |entity| %>
    <tr>
      <td><%= entity.id %></td>
      <td><%= entity.name %></td>
	  <td><%= entity.kind.name %></td>
    </tr>
  <% end %>
</table>

<h1>Listing Relationships</h1>
 
<table>
  <tr>
    <th>ID</th>
	<th>Relation</th>
    <th>Domain</th>
	<th>Range</th>
  </tr>
 
  <% @relationships.each do |relationship| %>
    <tr>
      <td><%= relationship.id %></td>
      <td><%= relationship.relation.name %></td>
	  <td><%= relationship.domain.name %></td>
	  <td><%= relationship.range.name %></td>
    </tr>
  <% end %>
</table>
<% end %>
